/* Form Buttons */
.form-button{
text-decoration:none;
//.gradient(@blueLight, @blueDark);
//background:@blueDark;
//background-image:url(Skins/@{theme}/images/button_gradients.png);
//background-repeat: repeat-x;
color:@white;
    display: inline-block; padding: 3px 5px; .box-shadow-glow; //.border-radius(2px);
  border:1px solid #2769A8;
}
.form-button-hover{
//background-image:url(Skins/@{theme}/images/button_gradients_hover.png);
//background-repeat: repeat-x;
//.gradient(#3b80c1, @blueLight);
background: darken(@blueSamsung, 3.8%);
    //-webkit-box-shadow: inset 0 1px 0 0 #2672ab;
    //-moz-box-shadow: inset 0 1px 0 0 #2672ab;
    //color: @white;
    //cursor: pointer; 
}
.form-button-active{
   // -webkit-box-shadow: inset 0 0 1px 0px #014a99, 0 0 1px 0 #336699;
   // -moz-box-shadow: inset 0 0 1px 0px #014a99, 0 0 1px 0 #336699;
   // box-shadow: inset 0 0 1px 0px #014a99, 0 0 1px 0 #306396;
	//color: @blueLightest;
	}


.button() {
	text-decoration: none;
        font-weight; normal;
	color: #444;
	display: inline;
	//float: left;
	//margin: 5px 5px 5px 0px;
	padding: 5px 6px 6px 6px;
	cursor: pointer;	
	border: solid 1px #D9D9D9;
        background: #F3F3F3;
        .border-radius(2px);
        .transition( border-color .20s );

        span.label {
            display: table-cell;
            padding: 0 1em;
            overflow: hidden;
            color: #444;
            .transition( color .20s );
        }

        &:hover {
            background: #F4F4F4;
            border-color: #C0C0C0;
            color: #333;
            .box-shadow();
        }

        &:active {
            border-color: #C6C6C6 !important;
            color: #4D90FE;
            .box-shadow( none );
            span.label {
                color: #333 !important;
            }
        }
}

.gplus-button( @color ) {

        .button();

        @border: darken(@color, 5.5%);
        @from: lighten(@color, 5%);
        @to: darken(@color, 5%);

        @hover: darken(@color, 3.8%);
        @borderHover: darken(@hover, 5.5%);
        @fromHover: lighten(@hover, 5%);
        @toHover: darken(@hover, 5%);

	border: 1px solid @border !important;
	background: @color;
        .transition( border .20s );

        &:hover {
            border: 1px solid @borderHover !important;
            background: @hover;
        }

        &:active {
            border-color: @borderHover !important;
            color: #FFF !important;
        }

        span.label {
            color: #FFF !important;
        }

}

.gplus-disabled( @color ) {

        .button();

        background: @color;
        border: 1px solid @color !important;
        cursor: default;

        &:hover {
            border: 1px solid @color !important;
            background: @color;
            .box-shadow( none );
        }

        span.label {
            color: #FFF !important;
           // text-shadow: 0 1px 0 @borderHover !important;
           // text-shadow: 0 0px 0 @borderHover !important;
        }

}

// IE issues with filter support, IE doesn't support filters and less combination
button.gplus-blue { .uni-button(@blueSamsung); }//#4B8DF8
//button.gplus-blue-disabled { .gplus-disabled( lighten(#4B8DF8, 20%) ); }
button.gplus-blue-disabled { .uni-button(lighten(@blueSamsung, 30%)); }
button.gplus-red { .uni-button(@red); }
button.gplus-green { .gplus-button( #3A8E00 ); }

.uni-button( @color ) {

        .button();

        @border: darken(@color, 5.5%);
        @from: lighten(@color, 5%);
        @to: darken(@color, 5%);

        @hover: darken(@color, 3.8%);
        @borderHover: darken(@hover, 5.5%);
        @fromHover: lighten(@hover, 5%);
        @toHover: darken(@hover, 5%);

	border: 1px solid @border !important;
        .border-radius(2px);
	background: @color !important;
        display: inline-block;
        //*zoom: 1;
        //*display: inline;
        //zoom:1;
        position:relative;
        padding: 3px 5px;
        //.gradient(@from, @to);
        .transition( border .20s );
        text-align: center;
        font-size:12px;
        color: #FFF !important;
        min-width:38px;
        _width:38px; /* IE6 */

        &:hover {
            border: 1px solid @borderHover !important;
            background: lighten(@hover, 10%) !important;
            //.gradient(@fromHover, @toHover);
            color: #FFF !important;
        }

        &:active {
            border-color: @borderHover !important;
            color: #FFF !important;
        }

        span.label {
            color: #FFF !important;
           // text-shadow: 0 1px 0 @borderHover !important;
           // text-shadow: 0 0px 0 @borderHover !important;
        }

}