/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* ---------------------------------------------------------------------------
 *
 * Success, info, notice and error/alert boxes
 *
 * ------------------------------------------------------------------------- */

.form-message(@background: #fbe3e4, @color: #8a1f11, @border: #fbc2c4 ) {
    padding: 0.8em; 
    margin-bottom: 1em; 
    border: 2px solid @border;
    background-color: @background; 
    color: @color;  
    a { color: @color; }
    .border-radius(2px);
}

fieldset { 
    padding:0 1.4em 1.4em 1.4em;   
    margin: 0 0 1.5em 0;   
    border: 1px solid @accent-1; 
    .border-radius(2px);
}

legend { 
    color: @accent-1; 
    font-size:1.5em; 
    margin-top:-0.2em; 
    margin-bottom:1em; 
}

/* A special hack is included for IE8 since it does not apply padding
   correctly on fieldsets */

fieldset, #IE8#HACK { padding-top:1.4em; }
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

label { 
    text-align: right; 
    position: relative;
    font-size:1.2em;
    /* Emphasize mandatory fields */
    // sup { font-weight:bold; position: absolute; right: -0.6em; top: 0.6em; }
    sup { font-weight: bold; 
          padding-left: 2px; 
          vertical-align: baseline; }
    display: inline-block;
    margin-right: 1.0em;
}

/* fix for safari select padding */
select { line-height: 26px; height: 30px; -webkit-appearance: menulist-button; }

textarea, select, input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]) {
    padding: 5px;
    border: 1px solid #cecece;
    outline: none;
    .border-radius(7px);
    .box-shadow(0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2));
    .transition( all 0.25s ease-in-out );
}

textarea:hover, select:hover, input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):hover {
    border: 1px solid #bdbdbd;
    .box-shadow(0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2));
}

textarea:focus, select:focus, input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]):focus {
    .box-shadow(0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2));
}

span.text,input.text { width: 300px; }
select { width: 311px; }
textarea { width: 390px; height: 250px; }
span.title,input.title { font-size:1.5em; }
span.text,input.text,select.text { font-size:1.2em; }

form {

    span { padding: 5px; }

    .error, .alert { .form-message( #fbe3e4, #8a1f11, #fbc2c4 ); }
    .notice { .form-message( #fff6bf, #514721, #ffd324 ); }
    .success { .form-message( #e6efc2, #264409, #c6d880 ); }
    .info { .form-message( #d5edf8, #205791, #92cae4 ); padding: 0.8em 0; }
}

/* ---------------------------------------------------------------------------
 *
 * This is to be used on forms where a variety of elements are
 * placed side-by-side. Use the p tag to denote a line.
 *
 * ------------------------------------------------------------------------- */
form.inline p { margin-bottom: 0; }

/* ---------------------------------------------------------------------------
 *
 * Google Plus Style Buttons
 *
 * http://youhack.me/2011/11/01/create-google-plus-style-button-using-css3/
 *
 * <div>
 *   <button class="gplus-blue"><span class="label">Save</span></button>
 *   <button class="gplus-red"><span class="label">Upload</span></button>
 *   <button class="gplus-green"><span class="label">Comment</span></button>
 *   <button><span class="label">Cancel</span></button>
 * </div>
 * ------------------------------------------------------------------------- */

//button { .button(); }

button.gplus-blue { .gplus-button( @black ); }//#4B8DF8
//button.gplus-blue-disabled { .gplus-disabled( lighten(#4B8DF8, 20%) ); }
button.gplus-blue-disabled { .gplus-disabled( darken(@black, 9%) ); }
button.gplus-red { .gplus-button( #D64937 ); }
button.gplus-green { .gplus-button( #3A8E00 ); }

button.gplus-accent-1 { .gplus-button( @accent-1 ); }
button.gplus-accent-2 { .gplus-button( @accent-2 ); }
button.gplus-accent-3 { .gplus-button( @accent-3); }

button.plain-accent-1 { .plain-button( @accent-1, @accent-2, @white ); }
button.plain-accent-2 { .plain-button( @accent-2, @accent-1, @white ); }
button.plain-accent-3 { .plain-button( @accent-3, @accent-2, @white ); }

